{% trans_default_domain 'Modules.Mondialrelay.Contact_us' %}

<div class="card">
  <div class="card-header"> {{'Contact us'|trans}} </div>
  <div class="card-body">
    <p> {{'Do you have some additional questions ? Contact us !'|trans}} </p>

    <p> {{'Mondial Relay Customer Service Team is available to assist you. For general inquiries please contact us :'|trans}} </p>

    <ul>
      <li>
        {{'Contact form : [1] https://www.mondialrelay.fr/solutionspro/contact-clients-professionnels/ [/1]'|trans({'[1]': '<a href="https://www.mondialrelay.fr/solutionspro/contact-clients-professionnels/" target="_blank">', '[/1]': '</a>'})|raw}}
      </li>
      <li>
        {{'Via the contact form available on the site [1] mondialrelay.fr [/1] from your customer profile.'|trans({'[1]': '<a href="https://www.mondialrelay.fr/" target="_blank">', '[/1]': '</a>', '[2]': '<a href="https://www.mondialrelay.fr/mon-profil-mondial-relay/" target="blank">', '[/2]': '</a>'})|raw}}
      </li>
      <li>
        {{'[1] By chat [/1]'|trans({'[1]': '<a href="https://www.mondialrelay.fr/solutionspro/offres-et-services/offre-start/" target="_blank">', '[/1]': '</a>'})|raw}}
      </li>
    </ul>
  </div>
</div>
