{% trans_default_domain 'Modules.Mondialrelay.Setup_guide' %}

<div class="card">
  <div class="card-header">{{'Module setup guide'|trans}}</div>
  <div class="card-body">
    <p>{{'Quick steps to module setup :'|trans}}</p>

    {{ include(include_path ~ 'steps.html.twig') }}

    <br/>

    <p> {{'Any question ? Discover our user guide for quick module installation !'|trans}} </p>
    <p>
      <a
        href="https://www.mondialrelay.fr/solutionspro/documentation-technique/documentation-techniquemodules/"
        target="_blank"
        class="btn btn-primary">
        {{'Get the user guide'|trans}}
      </a>
    </p>

    <br/>

    <p> {{'For further information please see the FAQ section of our website :'|trans}} </p>
    <p>
      <a
        href="https://www.mondialrelay.fr/faq-pro/modules-mise-en-place-technique/"
        target="_blank"
        class="btn btn-primary">
        {{'Mondial Relay FAQ'|trans}}
      </a>
    </p>
  </div>
</div>
